<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>server.log</file>
        <append>false</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

    <logger name="server.router.WSRouter" level="INFO"/>
    <logger name="server.actor.UserActor" level="INFO" />
</configuration>